<h1>Editing <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to t("menu.show"), :action => "show", :id => @<%= singular_table_name %>.id %> |
<%%= link_to t("menu.list"), :action => "index" %>